<div class="container-fluid">
    <div class="jumbotron text-left">
            <h1>About</h1>
            <h2>
                Mount Royal University - COMP 4513 Assignment 2
            </h2></br>
            <p>	
            This assignment was created by Michael Basnak, Mark Ladoing, and Tyler Cheyne.
            </p>
            <p>For this Single-Page Application our group decided to use AngularJS, Anuglar Material and Bootstrap as a front end.</p>
            <p>This was chosen because of our groups familiarity with these tools and the large amount of tutorials/documentation online.</p>
    </div>
    <div>
    <h2><u>Members</u></h2>
    <ul>
        <li><b>Michael Basnak</b></li>
        <ul>
            <li>Books, Todo, About Page, and BooksAPI</li>
        </ul>
        <li><b>Tyler Cheyne</b></li>
        <ul>
            <li>APIs, Web Services, APIRoutes, Controllers, Login, and Hosting</li>
        </ul>
        <li><b>Mark Ladoing</b></li>
        <ul>
            <li>Messages, MessagesAPI, Site Design, Testing, and Completion of Miscellaneous Components</li>
        </ul>
        
    </ul>
    <h2><u>Github</u></h2>
    <h3><a href="https://github.com/michaelbasnak/comp-4513-asg2">https://github.com/michaelbasnak/comp-4513-asg2</a></h3>
    
    <h2><u>Tools Used</u></h2>
    <ul>
        <li><b>Back end:</b> Node.js, Express</li>
        <li><b>Database:</b> MongoDB</li>
        <li><b>Front end:</b> AngularJS, Angular Material, Bootstrap</li>
    </ul>
    </div>
</div>

